<div ng-controller="CadastroCtrl">
	<h2>Form</h2>
	<form ng-submit="add()">
		<input type="text" ng-model="cadastro.nome" placeholder="Nome"><br>
		<input type="text" ng-model="cadastro.idade" placeholder="Idade"><br>
		
		<button type="submit">Cadastrar</button>
	</form>	
	<br>
	<h2>Lista</h2>
	<ul>
		<li ng-repeat="(cadastroId, cadastro) in cadastros">
			<a href="#/cadastro/{{cadastroId}}">{{cadastro.nome}}</a>
		</li>
	</ul>
</div>