<div ng-controller="CadastroCtrl">
	<form ng-submit="update()">
		<h2>{{resultado.nome}} - {{resultado.idade}}</h2>
		<input type="text" ng-model="resultado.nome"/>
		<input type="text" ng-model="resultado.idade"/>
		<button type="submit">
			Update
		</button>
		<button ng-click="del()">
			Delete
		</button>
	</form>
	<br>
	<a href="#/cadastro">Voltar</a>
	
</div>